@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: "Elms Sans", sans-serif;
    height: 100%;
    width: 100%;
}

.button {
    width: 57px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input {
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    width: 280px;
}

.container {
    background-color: rgba(190, 188, 184, 0.548);
    width: 400px;
    height: 55vh;
    padding: 10px;
    border: 3px solid black;
}
.text-center {
    text-align: center;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}